@import "variables";
@import "globales";
@import "navbar";

body {
  font-family: "Montserrat", sans-serif;
}

.padding__top {
  padding-top: 2rem;
}

.line__pay {
  border-top: 1px;
  border-bottom: 1px;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
  border-color: $linepay-color;
}

.divisor {
  border-top: 1px;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-style: solid;
  border-color: $divisor-color;
  padding-top: 1rem;
}

.icon__center {
  position: relative;
  left: 45%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.pin__font--size {
  font-size: 0.8rem;
}

.svg__size {
  width: 50%;
  height: 50%;
  margin: 2rem;
}

.text-decoration-none {
  color: $contrast-color;
  transition: 0.5s;
}

.text-decoration-none:hover {
  color: $hover-color;
}

/* Media Query for Line Pay */
@media (min-width: 768px) {
  .line__pay {
    border-top: 0px;
    border-bottom: 0px;
    border-left: 1px;
    border-right: 1px;
    border-style: solid;
    border-color: $linepay-color;
  }
  .pin__font--size {
    font-size: 1rem;
  }
  .svg__size {
    width: 40%;
    height: 40%;
    margin: 5rem;
  }
  button {
    padding: 0.75rem 1.5rem;
  }
}

/* Search Bar*/
.form-control:focus {
  border-color: #000;
  box-shadow: 0 0 0 0 rgb(255, 255, 255);
}

/* Boton Style */
.int__button {
  background-color: $contrast-color;
  border: 1px solid transparent;
  border-radius: 0.75rem;
  box-sizing: border-box;
  color: $primary-color;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5rem;
  padding: 0.75rem 1.2rem;
  text-align: center;
  text-decoration: none $contrast-color solid;
  transition-duration: 0.2s;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}

.int__button:hover {
  background-color: $hover-color;
}

.int__button:focus {
  box-shadow: none;
  outline: 2px solid $primary-color;
  outline-offset: 2px;
}

/* Image Zoom Animation */

.image {
  position: relative;

  .image__zoom {
    position: relative;
    transition: transform 2s;
  }
}
.image:hover .image__zoom {
  transform: scale(1.04);
}

.creditCard__zoom {
  position: relative;
  transition: transform 2s;
}
.image:hover .creditCard__zoom {
  transform: scale(1.25);
}
